<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>

{{!-- Only create an edit button if user is logged in --}}
  <p>
    <button class="btn btn-info">Edit Post</button>
  </p>


    <div class="col-md-12">
      <h3>Add a Comment?</h3>

      <form class="form new-post-form">
        <div class="form-group">
          <label for="post-text"></label>
          <textarea class="form-input" id="post-text" name="post-text"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Post Comment!</button>
        </div>
      </form>
      <hr class="m-5">
    <div class="col-md-1"></div>

  
  <script src="./js/postComment.js"></script>
  </div>
</div>
